.check{
    margin-top: 40px;
    /* border: 1px solid black; */
}
.form{
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    flex-direction: column;
}
.ben{
	margin-top: 40px;
    overflow: auto;
}
.sub-container{
    display: flex;
    justify-content: space-between;
    height: 90%;
}

.check>div{
    margin-bottom: 20px;
}

.btns{
    display: flex;
    justify-content: flex-end;
}
button[type=reset]{
    margin-right: 5px;
}
.panel{
	clear: both;
}