.pos{
    margin-top: 100px;
}

.btns{
    display: flex;
    justify-content: flex-end;
}

.res{
    margin-right: 7px;
    border: 0;
}
.res:hover{
    transform: scale(1.1);
}

.suc{
    border: 0;
}

.suc:hover{
    transform: scale(1.1);
}


.new{
    color: black;
}
.new:hover{
    color: red;
    text-decoration: none;
}