#form{
    margin-top: 50px;
}

#form>div{
    margin-bottom: 35px;
}

#btns{
    border: 1px solid white;
    /* border: 0; */
    display: flex;
    justify-content: center;
}
button[type=reset]{
    margin-right: 10px;
}